.app-background {
  background: linear-gradient(180deg, #B6BDFB, #C6E8E8);
  height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding-top: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.source-sans-3 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #F6F8F9;
}